<!-- main/recipequery.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Find Recipes</h2>
  <!--This page should be replaced with buttons rather than typed queries-->
  <!--Full list of supported queires in API documentation-->
  <form method="post">
    <label for="meal_type">What kind of meal are you looking for? (ex: breakfast, lunch/dinner, snack, etc.)</label>
    <input type="text" name="meal_type" id="meal_type" required>
    
    <label for="diet">What type of diet do you have? (ex: low-sugar, paleo, vegan, etc.)</label>
    <input type="text" name="diet" id="diet">
    
    <label for="cuisine">What type of cuisine are you looking to eat? (ex: italian, asian, greek, etc.)</label>
    <input type="text" name="cuisine" id="cuisine">

    <!--To be added, manual input for ingredients they're looking to use, formatted and validated-->
    
    <button type="submit">Find Recipes</button>
  </form>
{% endblock %}
