{% extends 'base.html' %}

{% block content %}
<section id="saved">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                  <img src="{{ url1 }}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ savedName1 }}</h5>
                    <a href="{{ savedLink1 }}" class="btn btn-primary">Go To Site</a>
                  </div>
                </div>
            </div>
			<div class="col-md">
                <div class="card">
                  <img src="{{ url2 }}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ savedName2 }}</h5>
                    <a href="{{ savedLink2 }}" class="btn btn-primary">Go To Site</a>
                  </div>
                </div>
            </div>
			<div class="col-md">
                <div class="card">
                  <img src="{{ url3 }}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ savedName3 }}</h5>
                    <a href="{{ savedLink3 }}" class="btn btn-primary">Go To Site</a>
                  </div>
                </div>
            </div>
		</div>
		<div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                  <img src="{{ url4 }}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ savedName4 }}</h5>
                    <a href="{{ savedLink4 }}" class="btn btn-primary">Go To Site</a>
                  </div>
                </div>
            </div>
			<div class="col-md">
                <div class="card">
                  <img src="{{ url5 }}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ savedName5 }}</h5>
                    <a href="{{ savedLink5 }}" class="btn btn-primary">Go To Site</a>
                  </div>
                </div>
            </div>
			<div class="col-md">
                <div class="card">
                  <img src="{{ url6 }}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ savedName6 }}</h5>
                    <a href="{{ savedLink6 }}" class="btn btn-primary">Go To Site</a>
                  </div>
                </div>
            </div>
		</div>
	</div>
</section>
{% endblock %}