
/* STYLES FOR LANDING PAGE*/

#landingHero {
  min-height: 80vh;
  margin-top: 10vh;
}

/* Removes the drop shadow from the form */
#landingHero form {
    box-shadow: none; !important;
}

/* Centers the button below the form and adjusts styling to match the form */
#landingHero .btn-primary {
    display: block; /* Make the button a block element to fill the form width */
    width: fit-content; /* Adjust width to content size */
    margin: 20px auto 0; /* Centers the button horizontally and adds space from the form */
}

#landingAbout {
  min-height: 80vh;
}

/* STYLES FOR ABOUT */

#aboutHero {
  min-height: 40vh;
  margin-top: 20vh;
}

#aboutAbout {
  min-height: 30vh;
  margin-bottom: 20vh;
}

#aboutFeatures {
  margin-bottom: 20vh;
}

/* STYLES FOR CONTACT */

#contactContact {
  min-height: 68vh;
  margin-top: 20vh;
}