
/* STYLES FOR LANDING PAGE*/

#landingHero {
  min-height: 80vh;
  margin-top: 10vh;
}

/* Removes the drop shadow from the form */
#landingHero form {
    box-shadow: none; !important;
}

/* Centers the button below the form and adjusts styling to match the form */
#landingHero .btn-primary {
    display: block; /* Make the button a block element to fill the form width */
    width: fit-content; /* Adjust width to content size */
    margin: 20px auto 0; /* Centers the button horizontally and adds space from the form */
}

#landingAbout {
  min-height: 80vh;
}

/* STYLES FOR ABOUT */

#aboutHero {
  min-height: 40vh;
  margin-top: 20vh;
}

#aboutAbout {
  min-height: 30vh;
  margin-bottom: 20vh;
}

#aboutFeatures {
  margin-bottom: 20vh;
}

/* STYLES FOR CONTACT */

#contactContact {
  min-height: 68vh;
  margin-top: 20vh;
}

/* STYLES FOR PRIVACY POLICY */

#mainPPHero {
  min-height: 68vh;
  margin-top: 10vh;
}

/* STYLES FOR TOS */

#mainTOSHero {
  min-height: 68vh;
  margin-top: 10vh;
}

/* STYLES FOR THANK YOU TWO */

#thankYou2Hero {
  min-height: 68vh;
  margin-top: 20vh;
}

/* STYLES FOR THANK YOU */

#thankYouHero {
  min-height: 68vh;
  margin-top: 20vh;
}

/* STYLES FOR REGISTER */

#RegisterForm {
  min-height: 80vh;
  margin-top: 8vh;
}

/* STYLES FOR LOGIN */

#LoginForm {
  min-height: 80vh;
  margin-top: 8vh;
}

/* STYLES FOR ACCOUNT */

#macros-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#macros-section ul {
  list-style-type: none;
  padding: 0;
}

#macros-section li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-weight: bold;
  color: #555;
}

#profile-edit-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}


/* MAIN STYLES*/

#mainSwipe {
  min-height: 78vh;
  margin-top: 10vh;
}

#mainSwipe h1 {
  text-align: center;
  margin-bottom: 20px;
}

#mainSwipe .card {
  max-height: 600px;
  overflow: auto; /* Allows scrolling within the card if content exceeds max height */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

#mainSwipe .card-img-top {
  max-height: 250px; /* Limiting image height */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  width: 100%;
}

#mainSwipe .card-body {
  padding: 15px;
}

#mainSwipe .card-title {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

#mainSwipe .card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* STYLES FOR SAVED */

#saved {
  min-height: 78vh;
  margin-top: 10vh;
}

/* STYLES FOR OPTION */
#OptionSection {
  min-height: 68vh;
  margin-top: 20vh;
  text-align: center; /* Center-aligns the text */
}

#OptionSection .btn-primary {
  width: 200px; /* Sets a fixed width for all buttons */
  margin-top: 20px; /* Adds top margin to buttons */
}