<!-- For dietary restrictions, 22 in total -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dietary Options</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <h1>Dietary Options</h1>
  
  <form id="dietaryRestrictionForm">
    <!-- Add a toggleable button for each dietary option -->
    <label><input type="checkbox" name="alcohol_cocktail" {% if diet['alcohol_cocktail'] %}checked{% endif %}> Alcohol Cocktails Only</label><br>
    <label><input type="checkbox" name="alcohol_free" {% if diet['alcohol_free'] %}checked{% endif %}> Alcohol Free</label><br>
    <label><input type="checkbox" name="celery_free" {% if diet['celery_free'] %}checked{% endif %}> Celery Free</label><br>
    <label><input type="checkbox" name="crustacean_free" {% if diet['crustacean_free'] %}checked{% endif %}> Crusacean Free </label><br>
    <label><input type="checkbox" name="dairy_free" {% if diet['dairy_free'] %}checked{% endif %}> Dairy Free </label><br>
    <label><input type="checkbox" name="dash" {% if diet['dash'] %}checked{% endif %}> DASH </label><br>
    <label><input type="checkbox" name="egg_free" {% if diet['egg_free'] %}checked{% endif %}> Egg Free </label><br>
    <label><input type="checkbox" name="fish_free" {% if diet['fish_free'] %}checked{% endif %}> Fish Free </label><br>
    <label><input type="checkbox" name="fodmap_free" {% if diet['fodmap_free'] %}checked{% endif %}> FODMAP Free </label><br>
    <label><input type="checkbox" name="gluten_free" {% if diet['gluten_free'] %}checked{% endif %}> Gluten Free </label><br>
    <label><input type="checkbox" name="immuno_supportive" {% if diet['immuno_supportive'] %}checked{% endif %}> Immuno Supportive </label><br>
    <label><input type="checkbox" name="keto_friendly" {% if diet['keto_friendly'] %}checked{% endif %}> Keto Friendly </label><br>
    <label><input type="checkbox" name="kidney_friendly" {% if diet['kidney_friendly'] %}checked{% endif %}> Kidney Friendly </label><br>
    <label><input type="checkbox" name="kosher" {% if diet['kosher'] %}checked{% endif %}> Kosher </label><br>
    <label><input type="checkbox" name="low_fat_abs" {% if diet['low_fat_abs'] %}checked{% endif %}> Low Fat Abs </label><br>
    <label><input type="checkbox" name="low_potassium" {% if diet['low_potassium'] %}checked{% endif %}> Low Potassium </label><br>
    <label><input type="checkbox" name="low_sugar" {% if diet['low_sugar'] %}checked{% endif %}> Low Sugar </label><br>
    <label><input type="checkbox" name="lupine_free" {% if diet['lupine_free'] %}checked{% endif %}> Lupine Free </label><br>
    <label><input type="checkbox" name="Mediterranean" {% if diet['Mediterranean'] %}checked{% endif %}> Mediterranean </label><br>
    <label><input type="checkbox" name="mollusk_free" {% if diet['mollusk_free'] %}checked{% endif %}> Mollusk Free </label><br>
    <label><input type="checkbox" name="mustard_free" {% if diet['mustard_free'] %}checked{% endif %}> Mustard Free </label><br>
    <label><input type="checkbox" name="no_oil_added" {% if diet['no_oil_added'] %}checked{% endif %}> No Oil Added </label><br>
    <label><input type="checkbox" name="paleo" {% if diet['Paleo'] %}checked{% endif %}> Paleo </label><br>
    <label><input type="checkbox" name="peanut_free" {% if diet['peanut_free'] %}checked{% endif %}> Peanut Free </label><br>
    <label><input type="checkbox" name="pescatarian" {% if diet['pescatarian'] %}checked{% endif %}> Pescatarian </label><br>
    <label><input type="checkbox" name="pork_free" {% if diet['pork_free'] %}checked{% endif %}> Pork Free </label><br>
    <label><input type="checkbox" name="red_meat_free" {% if diet['red_meat_free'] %}checked{% endif %}> Red Meat Free </label><br>
    <label><input type="checkbox" name="sesame_free" {% if diet['sesame_free'] %}checked{% endif %}> Sesame Free </label><br>
    <label><input type="checkbox" name="shellfish_free" {% if diet['shellfish_free'] %}checked{% endif %}> Shellfish Free </label><br>
    <label><input type="checkbox" name="soy_free" {% if diet['soy_free'] %}checked{% endif %}> Soy Free </label><br>
    <label><input type="checkbox" name="sugar_conscious" {% if diet['sugar_conscious'] %}checked{% endif %}> Sugar Conscious </label><br>
    <label><input type="checkbox" name="sulfite_free" {% if diet['sulfite_free'] %}checked{% endif %}> Sulfite Free </label><br>
    <label><input type="checkbox" name="tree_nut_free" {% if diet['tree_nut_free'] %}checked{% endif %}> Tree Nut Free </label><br>
    <label><input type="checkbox" name="vegan" {% if diet['vegan'] %}checked{% endif %}> Vegan </label><br>
    <label><input type="checkbox" name="vegetarian" {% if diet['vegetarian'] %}checked{% endif %}> Vegetarian </label><br>
    <label><input type="checkbox" name="wheat_free" {% if diet['wheat_free'] %}checked{% endif %}> Wheat Free </label><br>

    <button type="button" id="submitBtn">Submit</button>
  </form>

  <script>
    $(document).ready(function() {
      console.log("Settings form ready");
      $("#submitBtn").on("click", function() {
        // Collect the selected dietary options
        var dietaryOptions = {};
        $("#dietaryRestrictionForm input[type=checkbox]").each(function() {
          dietaryOptions[$(this).attr("name")] = $(this).prop("checked");
        });

        // Make AJAX request to send the dietary options to the backend
        $.ajax({
          url: "/settings/submitDietaryOptions",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(dietaryOptions),
          success: function(response) {
            console.log("Dietary options submitted successfully:", response);
          },
          error: function(error) {
            console.error("Error submitting dietary options:", error);
          }
        });
      });
    });
  </script>
</body>
</html>
