<!-- main/recipequery.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Macros</h2>
  <form method="post">
    <label for="userWeight">What is your weight in lbs?</label>
    <input type="float" name="userWeight"required>
    <label for="userSex">What is your sex?</label>
    <select name="userSex" id="userSex">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <label for="userHeight">What is your height in inches?</label>
    <input type="float" name="userHeight"required>
    <label for="userAge">What is your age?</label>
    <input type="text" name="userAge"required>
    <label for="userActivityLevel">Choose Activity Level</label>
    <select name="userActivityLevel" id="userActivityLevel">
        <option value="1.25">Sedentary</option>
        <option value="1.375">Lightly Active</option>
        <option value="1.55">Active </option>
        <option value="1.725">Very Active</option>
    </select>
    
    <button type="submit" value="Calories">Calculate</button>

    <p name="Calories">Calories: {{ Calories }}</p>
  
{% endblock %}