{% extends 'base.html' %}

{% block content %}

<section id="mainSwipe">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md d-flex flex-column justify-content-center"> 
              <!-- Added onclick attribute to refresh page on button click -->
              <button class="btn btn-danger align-self-center" onclick="location.reload();">NO</button>
            </div>
            <div class="col-md-6">
                <h1>SWIPE</h1>
                <div class="card">
                  <img src="{{ image }}" alt="Recipe Image" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <p class="card-text">{{ time }}</p>
                    <p>{{ macros }}</p>
                    <p>{{ ingredients }}</p>
                    <a href="{{ site }}" class="btn btn-primary">Go To Site</a>
                  </div>
                </div>
                <button class="btn btn-info align-self-center mt-3">Filters</button> 
            </div>
            <div class="col-md d-flex flex-column justify-content-center"> 
              <!-- Added onclick attribute to refresh page on button click -->
              <button class="btn btn-success align-self-center" onclick="location.reload();">YES</button>
            </div>
        </div>
    </div>
</section> 

{% endblock %}
