<!-- templates/recpies.html, for browsing displayed recipe results -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookr</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <h1>Cookr</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <p>{{ messages[0] }}</p>
    {% endif %}
  {% endwith %}

  {% if recipes %}
    {% for recipe in recipes %}
      <div>
        <h2>{{ recipe.title }}</h2>
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        <p><a href="{{ recipe.url }}" target="_blank">View Recipe</a></p> <!--Move this over to "more info" display page-->
        <!--Here things like a general overview of ingredients, similarities to user preferences, diets/restrictions, etc. need to be all displayed on an overview section. probably a scrolling screen of some kind-->
        <!-- Add this button/link where you want to show more information -->
        <button class="showMoreInfoBtn" data-recipe-id="{{ recipe.id }}">Show me more information about this recipe!</button>

        <!-- Display the additional information here -->
        <div class="moreInfoContainer"></div>
      </div>
    {% endfor %}
    <script>
      // Handle button click for each recipe
      $(".showMoreInfoBtn").on("click", function() {
        var recipeID = $(this).data("recipe-id");
    
        // Reference the specific container for this recipe
        var infoContainer = $(this).siblings(".moreInfoContainer");
    
        // Make AJAX request to fetch more information
        $.ajax({
          url: "/findRecipes/" + recipeID + "/information",
          type: "GET",
          success: function(response) {
            // Extract information from the JSON response
            var recipeTitle = response.recipe.title;
            var recipeImage = response.recipe.image;
            var recipeURL = response.recipe.url;
            var recipeIngredients = response.recipe.ingredients; // TBA
            // Recipe instructions scraping results TBA
            var recipeTime = response.recipe.totalTime;
            var recipeWeight = response.recipe.totalWeight;
    
            var tasteSweetness = response.recipeTaste.sweetness;
            var tasteSaltiness = response.recipeTaste.saltiness;
            var tasteSourness = response.recipeTaste.sourness;
            var tasteBitterness = response.recipeTaste.bitterness;
            var tasteSavoriness = response.recipeTaste.savoriness;
            var tasteFattiness = response.recipeTaste.fattiness;
            var tasteSpiciness = response.recipeTaste.spiciness;
            
            // Recommendations
            var recommendedSweetness = response.recipeRecommendations.sweetness;
            var recommendedSaltiness = response.recipeRecommendations.saltiness;
            var recommendedSourness = response.recipeRecommendations.sourness;
            var recommendedBitterness = response.recipeRecommendations.bitterness;
            var recommendedSavoriness = response.recipeRecommendations.savoriness;
            var recommendedFattiness = response.recipeRecommendations.fattiness;
            var recommendedSpiciness = response.recipeRecommendations.spiciness;

            // Daily Nutrition Information for this recipe
            var dailyCalories = response.recipeRecommendations.calories;
            var dailyProtein = response.recipeRecommendations.protein;
            var dailyCarbs = response.recipeRecommendations.carbs;
            var dailyFat = response.recipeRecommendations.fat;
            var dailySugar = response.recipeRecommendations.sugar; // Added sugar
            var dailySodium = response.recipeRecommendations.sodium;
    
            // Construct HTML content
            var htmlContent = `
              <h3>${recipeTitle}</h3>
              <img src="${recipeImage}" alt="${recipeTitle}">
              <p><a href="${recipeURL}" target="_blank">View Recipe</a></p>
              <h4>Taste Information:</h4>
              <p>Sweetness: ${tasteSweetness}</p>
              <p>Saltiness: ${tasteSaltiness}</p>
              <p>Sourness: ${tasteSourness}</p>
              <p>Bitterness: ${tasteBitterness}</p>
              <p>Savoriness: ${tasteSavoriness}</p>
              <p>Fattiness: ${tasteFattiness}</p>
              <p>Spiciness: ${tasteSpiciness}</p>
              <h4>Recommended Taste Information:</h4>
              <p>Sweetness: ${recommendedSweetness}</p>
              <p>Saltiness: ${recommendedSaltiness}</p>
              <p>Sourness: ${recommendedSourness}</p>
              <p>Bitterness: ${recommendedBitterness}</p>
              <p>Savoriness: ${recommendedSavoriness}</p>
              <p>Fattiness: ${recommendedFattiness}</p>
              <p>Spiciness: ${recommendedSpiciness}</p>
              <h4>Daily Nutrition Information:</h4>
              <p>Calories: ${dailyCalories}</p>
              <p>Protein: ${dailyProtein}</p>
              <p>Carbs: ${dailyCarbs}</p>
              <p>Fat: ${dailyFat}</p>
              <p>Sugar: ${dailySugar}</p>
              <p>Sodium: ${dailySodium}</p>
  
            `;
    
            // Update the container with the constructed HTML
            infoContainer.html(htmlContent);
          },
          error: function(error) {
            console.error("Error fetching information:", error);
          }
        });
      });
    </script>    
    <script>
        document.write('<button onclick="window.location.href=\'/findRecipes/search\'">Show me more recipes!</button>');
    </script>
  {% else %}
    <div>
        <h2>Sorry, no more recipes found!</h2>
        <button onclick="window.location.href='/findRecipes'">Start a new search</button>
    </div>
  {% endif %}
</body>
</html>