/*GENERAL STYLING*/

/*LANDING HOME PAGE STYLING*/
/**/
/**/
#landingHero {
  height: 75vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

/* Ensure the container itself is also a flex container to center its contents vertically */
#landingHero .container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  height: 100%; /* Take full height of its parent */
}

/* Optionally, adjust the button styling */
#landingHero a {
  margin-top: 20px; /* Add some space above the button */
  padding: 10px 20px; /* Padding for larger click area and visual appeal */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
}

#landingAbout {
  margin-top: 19vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

#landingAbout h2 {
  margin-bottom: 5vh;
}

#landingContact {
  height: 50vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

#landingNewsletter {
  height: 50vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

/* LANDING CONTACT PAGE STYLES */
/**/
/**/
#contactContact {
  height: 70vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

#contactNewsletter {
  height: 15vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

/* LANDING ABOUT PAGE STYLES */
/**/
/**/
#aboutHero {
  height: 75vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

#aboutHero h1{
  margin-top: 0vh;
  margin-bottom: 0vh;
}

#aboutHero h5{
  margin-top: 3vh;
}

#aboutAbout {
  margin-top: 19vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

#aboutFeatures {
  height: 80vh;
}

#aboutFeatures img{
  width: 40vw;
}

#aboutNewsletter {
  height: 15vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

/* LANDING PAGE THANK YOU STYLES */
/**/
/**/
#thankYouHero {
  height: 75vh; /* 100% of the viewport height */
  margin-bottom: 13vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

/* LANDING PAGE THANK YOU 2 STYLES */
/**/
/**/
#thankYou2Hero {
  height: 75vh; /* 100% of the viewport height */
  margin-bottom: 13vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

/* LANDING TOS STYLES */
/**/
/**/
#landingTOSHero {
  height: 75vh; /* 100% of the viewport height */
  margin-bottom: 13vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center; 
}

/* LANDING TOS STYLES */
/**/
/**/
#landingPPHero {
  height: 75vh; /* 100% of the viewport height */
  margin-bottom: 13vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center; 
}

/* LOGIN STYLES */
/**/
/**/
#logInForm {
  height: 70vh;
  margin-bottom: 18vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}


/* REGISTER STYLES */
/**/
/**/
#registerForm {
  height: 70vh;
  margin-bottom: 18vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}


/* ONBOARDING STYLES */
/**/
/**/
#onboarding {
  height: 70vh;
  margin-bottom: 18vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}


/* SWIPE HOME */

#mainSwipe {
  height: 88vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

#mainSwipe .card {
    height: 60vh; /* Adjust the height as needed */
    overflow: hidden; /* Ensures the card itself does not overflow */
}

#mainSwipe .card-body {
    overflow-y: auto; /* Enables vertical scrolling within the card body */
    height: 20vh; /* Adjust based on your card image and header sizes */
    text-align: left; /* Align text to the left in the card body */
}

#mainSwipe .card-img-top {
    width: 35vw;
    height: 35vw; /* Adjust based on your preference */
    object-fit: cover; /* Ensures the image covers the set height without stretching */
}

#mainSwipe ul {
    padding-left: 20px; /* Adjust padding to align with your design, ensuring the list aligns with other content */
    text-align: left; /* Ensure this is left to align the text of li elements */
}

#mainSwipe li {
    list-style-type: none; /* Removes bullet points, keep this if you want no bullets */
    text-align: left; /* Align text to the left for each ingredient */
}

/* SAVED*/
/**/
/**/
#saved {
  height: 88vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

#saved .card {
  max-width: 30vw; /* Adjust the width as needed */
  margin: auto; /* Centers the card in the carousel item */
}


/* MAIN TOS */
/**/
/**/
#mainTOSHero {
  margin-top: 13vh;
  margin-bottom: 13vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center; 
}

/* MAIN PP */
/**/
/**/
#mainPPHero {
  margin-top: 13vh; /* 100% of the viewport height */
  margin-bottom: 13vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center; 
}

/* ACCOUNT STYLES */
/**/
/**/
#account {
  height: 88vh;
  display: flex;
  justify-content: center; /* Center horizontally in the viewport */
  align-items: center; /* Center vertically in the viewport */
  text-align: center;
}

