{% extends 'landing/../baseNLI.html' %}

{% block content %}
<section id="contactContact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10"> <!-- Adjusted for better form width -->
                <h2>Contact Us</h2>
                <h5>We always look forward to feedback. Or just to say hi!</h5>
				<form method="post" novalidate>
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="form-group mb-3">
						{{ form.name.label_tag }}
						{{ form.name }}
						{{ form.name.errors }}
					</div>
					<div class="form-group mb-3">
						{{ form.email.label_tag }}
						{{ form.email }}
						{{ form.email.errors }}
					</div>
					<div class="form-group mb-3">
						{{ form.message.label_tag }}
						{{ form.message }}
						{{ form.message.errors }}
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
            </div>
        </div>
    </div>
</section>
{% endblock %}