{% extends 'landing/baseNLI.html' %}

{% block content %}
<section id="contactContact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10"> <!-- Adjusted for better form width -->
                <h2>Contact Us</h2>
                <h5>We always look forward to feedback. Or just to say hi!</h4>
                <form action="" method="">
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your email address">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" name="Message" rows="3" placeholder="Your message"></textarea>
                    </div>
                    <a class="btn btn-primary" href="">Send</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}